:root {
    --primary-color:#809A6f;
    --second-color:#A25B5B;
    --third-color:#CC9C75;
    --fourth-color:#D5D8B5; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--second-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Header Style */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #EC9B3B;
    margin: 0;
    text-shadow: 0 0 10px rgba(247, 215, 22, 0.5);
}

header a {
    text-decoration: none;
    color: var(--second-color)
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(247, 215, 22, 0.5);
}

header nav ul li a:hover {
    color: var(--primary-color);
    background-color: var(--third-color);
    border-radius: 15px;
}

/* End Header */

/* Start Hero */


.image-container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 400px;
    padding: 0;
    object-fit: cover;
}

.hero {
    background-image: url(../images/guitar_me.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding-bottom: 600px;
}

.hero h2 {
    font-size: 30px;
    margin: 0;
    color: var(--fourth-color);
    text-shadow: 0 0 10px rgba(41, 52, 98, 0.5);
    padding-right: 10px;
    position: absolute; bottom: 0px; right: 0px;
}

/* End Hero */

/* Shared Features*/

.section-title {
    text-align: center;
    background-color: #293462;
    text-decoration: underline;
    text-decoration-color: var(--fourth-color);
    text-shadow: 0 0 10px rgba(247, 215, 22, 0.5);
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 35px;
}

.section-title-2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--third-color);
    font-size: 35px;
    text-shadow: 0 0 10px rgba(236, 155, 59, 0.8);
    padding-bottom: 30px;
    padding-top: 10px;
}

/* About Me section */

.profile {
    display: flex;
    align-items: center;
}

.personal-info {
    color: var(--fourth-color);
    background-color: var(--second-color);
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    margin: 25px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 5%;

}

.ab-pic {
    display: flex;
    width: auto;
    height: 400px;
    margin-left: 30px;
    border-radius: 40%;
    border-style:double;
}


.personal-info p {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: larger;
}

/* End About Me */

/* Start Work */

.live-links {
    width: 80%;
    min-height: 100%;
    margin: 4vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5%;
}

.live-links-rb {
    background: url(../images/hero-bg.jpg);
    width: 98%;
    border-radius: 5%;
    position: relative;
}

.live-links-hori {
    background: url(../images/digital-marketing-meeting.jpg);
    width: 35%;
    margin: 20px 0.6rem;
    border-radius: 5%;
    position: relative;
}

.live-links-port {
    background: url(../images/guitar_me.jpg);
    width: 35%;
    margin: 20px 0.6rem;
    border-radius: 5%;
    position: relative;
}

.live-links-box {
    display: flex;
    background-size: cover;
    background-position: center;
    height: 360px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    position: relative;
}

.live-links-text {
    margin: auto;
    width: 20%;
    height: 100px;
    text-align: center;
    align-items: flex-end;
    border-radius: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.working-web-maintext {
    font-size: 20px;
}

.working-web-othertext {
    font-size: 15px;
}

.live-links-text a button {
    padding: 10px 15px;
    background-color: rgba(162, 91, 91, 0.6);
    background-repeat: no-repeat;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    position:absolute;
    right: 0;
    bottom: 0;
    border-radius: 10%;
}

/* End Work Section */


/* Contact Footer*/
.reach-me {
    background: var(--second-color);
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 20px;
    margin: 25px auto;
    width: 95%;
    border-radius: 5%;
}

.reach-me h2 {
    color: var(--fourth-color);
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 0 0 10px rgba(236, 155, 59, 0.8);
    text-decoration: underline;
    text-decoration-color: var(--third-color);

}

address {
    background-color: var(--second-color);
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

address a:hover {
    color: var(--third-color);
    background-color: var(--primary-color);
}

/* End Contact Section */